@media screen and (max-width: 800px) {
    .App {
        width: 90vw;
    }
}

@media screen and (min-width: 800px) {
    .App {
        width: 500px;
    }
}

.App {
    background-color: rgb(211, 211, 211, 60%);
    margin-top: 20px;
    padding: 25px 15px;
    min-height: 95vh;
    border-radius: 10px;
}

.header {
    background-color: #c1c1c1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(179, 177, 177);
    border-radius: 3px;
}

.actions {
    display: flex;
    gap: 13px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 20px;
    padding: 18px;
    border-radius: 4px;
}