@media screen and (max-width: 800px) {
    .App {
        width: 90vw;
    }
}

@media screen and (min-width: 800px) {
    .App {
        width: 400px;
    }
}

.App {
    background-color: rgb(211, 211, 211, 60%);
    margin: 10px 0;
    padding: 25px 15px;
    /* min-height: 90vh; */
    max-height: 96vh;
    border-radius: 10px;
}

.header {
    background-color: #c1c1c1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(179, 177, 177);
    border-radius: 3px;
}

.actions {
    display: flex;
    gap: 13px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 20px;
    padding: 18px;
    border-radius: 4px;
}

.tasks {
    overflow-y: auto;
    height: 75vh;
}

.footer {
    margin: 10px 0;
}

.input {
    height: 42px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(206, 204, 204);
}

.submit {
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
    cursor: pointer;
}